@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,700|Vollkorn:400,700');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #112b33;
}

header {
    background-color: #086f8e;
    font-family: Asap, sans-serif;
    padding: 30px 0px;
}
header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: #112b33
}
.wall {
    margin: 40px 20px;
    padding: 30px 0;
    background-color: #964a03;
    height: 100%;
    overflow: auto;
}
.box {
    border: 6px #30aeb5 solid;
    border-radius: 50%;
    margin: 10px 18px;
    transition: all 0.3s ease;
}
.box:hover {
    background-color: #773b03
}

.image {
    height: 70px;
    width: 70px;
    margin: 15px;
}


.container {
    display: inline-block;
    text-align: center;
    font-family: Vollkorn
}
